<div class="header">
  Text Categorizer
</div>

<div class="desription">
  <div>A text can come in any form and be any kind of writing. Letters, adverts, user-guides, emails,
postcards, notes and magazine articles are all different types of text.
When reading something, it helps to know what type of text it is. It also helps to know why it has
been written. For example: </div><br />
<ul>
  <li>An article written in the paper debating the ethics of someone's actions is <strong>argumentative</strong>.</li>
  <li>A user-guide is <strong>instructive</strong> and is written to tell you how to use something (such as a
  video recorder or washing-machine).</li>
  <li>A formal (business) letter might be written to <strong>inform</strong> you about school dates.</li>
  <li>A personal letter might be written by a friend, <strong>describing</strong> a holiday.</li>
</ul>
</div>
<div>Text can therefore be categorized into four broad categories: <i>Descriptive, Expository, Narrative</i> and <i>Argumentative</i></div>

<div>The purpose of this project is to use <strong>Machine Learning</strong> to identify what category a particular body of text falls under. At the current moment, our machine learning algorithm can only identify texts of Narrative and Expository types, however functionality to include more types will be added soon.</div>

<div id="root">
  <form id='text-analyzer'>
    <textarea id="text" rows="8" cols="80" placeholder="Enter paragraph here"></textarea>
    <div class='buttons'>
      <button type="submit" id="submit">Submit</button>
      <button id='random'>Random</button>
    </div>
  </form>
</div>

<div id="results">
  <div class="narrative">
    <div class="results-header">
      Narrative
    </div>
    <div class="results-description">
      Narration is the telling of a story: the text in this category usually comes from fiction books which try to describe an occurance in chronological fashion.
    </div>
    <div class="characteristics">
      Classifying characteristics:
      <ul>
        <li>Distinct increase of pronouns and names</li>
        <li>Increased presence of quotation marks</li>
        <li>Increased presence of names and commas</li>
      </ul>
    </div>
  </div>
  <div class="expository">
    <div class="results-header">
      Expository
    </div>
    <div class="results-description">
      Text which is derived from information. Expository text exists to provide facts in a way that is educational and informative.
    </div>
    <div class="characteristics">
      Classifying characteristics:
      <ul>
        <li>Distinct lack of pronouns</li>
        <li>Lack of names (vs. narrative text)</li>
        <li>Lack of quotation marks</li>
      </ul>
    </div>
  </div>
</div>
