<div class="header">
  Text Categorizer
</div>

<div class="desription">
  Add description here!
</div>

<div id="root">
  <form id='text-analyzer'>
    <textarea id="text" rows="8" cols="80" placeholder="Enter paragraph here"></textarea>
    <button type="submit" id="submit">Submit</button>
  </form>
</div>

<div id="results">
  Results here!
</div>
